<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=9"/>

    <title>用户管理</title>
    <link rel="stylesheet" href="../../static/themes/material/easyui.css" th:href="@{/themes/material/easyui.css}"/>
    <link rel="stylesheet" href="../../static/themes/icon.css" th:href="@{/themes/icon.css}"/>
    <link rel="stylesheet" href="../../static/themes/color.css" th:href="@{/themes/color.css}"/>
    <link rel="stylesheet" href="../../static/css/style1.css" th:href="@{/css/style1.css}"/>

    <!--[if lt IE 9]>
    <script src="../../static/js/html5shiv.min.js"></script>
    <script src="../../static/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div th:replace="fragments/base :: header"></div>
<div class="cm-main">
    <div class="easyui-layout cm-content">
        <div data-options="region:'center'" title="用户管理列表" class="cm-center">
            <div class="cm-center-detail">
                <div class="cm-demo-container">
                    <div class="cm-search-tr">
                        <form id="userform">
                            <table class="cm-sbox-table3">
                                <tr>
                                    <td>
                                        <div class="cm-sbox-td">
                                            <span class="cm-sbox-span cm-text-center">职员姓名</span>
                                            <input class="cm-sbox-input" id="employeeName"  style="width: 60%">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cm-sbox-td">
                                            <span class="cm-sbox-span cm-text-center">登录账号</span>
                                            <input class="cm-sbox-input" id="userName"  style="width: 60%">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cm-sbox-td">
                                            <span class="cm-sbox-span cm-text-center">职员编号</span>
                                            <input class="cm-sbox-input" id="employeeNo"  style="width: 60%">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                	<td>
                                        <div class="cm-sbox-td">
                                            <span class="cm-sbox-span cm-text-center">组织机构</span>
                                            <input class="easyui-combotree" id="employeeOrg"  style="width: 61%">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cm-sbox-td">
                                            <span class="cm-sbox-span cm-text-center">职务</span>
                                            <input class="easyui-combobox" id="employeeTitle"  style="width: 61%">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cm-sbox-td cm-text-center">
                                            <span class="cm-sbox-span cm-text-center"></span>
                                            <input type="button" class="cm-search-button" value="搜索"
                                                   onclick="submitData()"/>
                                            <input type="button" class="cm-search-button" value="重置"
                                                   onclick="onClear()"/>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                    <div>
                        <table id="user_m_table" class="easyui-datagrid"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="../../static/jquery.min.js" th:src="@{/jquery.min.js}"></script>
<script src="../../static/jquery.easyui.min.js" th:src="@{/jquery.easyui.min.js}"></script>
<script src="../../static/easyui-lang-zh_CN.js" th:src="@{/easyui-lang-zh_CN.js}"></script>
<script src="../../static/js/common/base.js" th:src="@{/js/common/base.js}"></script>
<script src="../../static/js/user/user_list.js" th:src="@{/js/user/user_list.js}"></script>
</body>
</html>