<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,minmum-scale=1,maxmum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="../static/css/style1.css" th:href="@{/css/style1.css}"/>
    <title>权限验证错误</title>
</head>
<body id="cm-404-p1">
<div class="cm-error-404">
    <img src="../static/images/img/bg-refuse.png" th:src="@{/images/img/bg-refuse.png}" alt=""/>
    <div class="cm-404-title">
        <div onclick="window.location.href = '/';"  type="button" class="cm-error-btn"></div>
    </div>
</div>
</body>
</html>
