<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=9"/>

    <title>屏蔽词汇</title>

    <link rel="stylesheet" href="../../static/themes/material/easyui.css" th:href="@{/themes/material/easyui.css}"/>
    <link rel="stylesheet" href="../../static/themes/icon.css" th:href="@{/themes/icon.css}"/>
    <link rel="stylesheet" href="../../static/themes/color.css" th:href="@{/themes/color.css}"/>
    <link rel="stylesheet" href="../../static/css/style1.css" th:href="@{/css/style1.css}"/>

    <!--[if lt IE 9]>
    <script src="../../static/js/html5shiv.min.js"></script>
    <script src="../../static/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div th:replace="fragments/base :: header"></div>
<div class="cm-main">
    <div class="easyui-layout cm-content">
        <div data-options="region:'center',tools:[{iconCls:'icon-back',handler:function(){goBack();}}]"
             title="词条详情" class="cm-center">
            <div class="cm-center-detail">
                <div class="cm-demo-container">
                    <form id="mask" method="post">
                        <table class="cm-sbox-table2">
                            <tr>
                                <td colspan="2">
                                    <div class="cm-sbox-td">
                                        <input id="id" th:value="${mask.id}" name="id" type="hidden"/>
                                        <span class="cm-sbox-spanl" hidden="true">屏蔽词</span>
                                        <input class="cm-sbox-inputl inputl-check86" id="word" th:value="${mask.word}"
                                               name="word"  data-options="required:true,validType:['maxLength[255]','isBlank']"/>
                                    </div>
                                </td>
                            </tr>
                            <tr>

                                <td>
                                    <div class="cm-sbox-td">
                                        <span class="cm-sbox-span">创建人</span>
                                        <div class="cm-sbox-div" id="createByName"
                                               th:text="${mask.createByName}" name="createByName">
                                        </div>
                                        <input type="hidden" id="createBy" name="createBy"
                                               th:value="${mask.createBy}">
                                               <input type="hidden"  name="createByName"
                                               th:value="${mask.createByName}">
                                    </div>
                                </td>
                                <td>
                                    <div class="cm-sbox-td">
                                        <span class="cm-sbox-span">创建时间</span>
                                        <div class="cm-sbox-div " id="createAt"
                                               th:text="${#dates.format(mask.createAt ,'yyyy-MM-dd HH:mm:ss')}"
                                               >
                                        </div>
                                        <input type="hidden" name="createAt" th:value="${#dates.format(mask.createAt ,'yyyy-MM-dd HH:mm:ss')}"/>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="cm-sbox-td">
                                        <span class="cm-sbox-span">修改人</span>
                                        <div class="cm-sbox-div" id="updateByName"
                                               th:text="${mask.updateByName}" name="updateByName"></div>
                                   <input type="hidden"  name="updateByName"
                                               th:value="${mask.updateByName}">
                                    </div>
                                </td>
                                <td>
                                    <div class="cm-sbox-td">
                                        <span class="cm-sbox-span">修改时间</span>
                                        <div class="cm-sbox-div" id="updateAt"
                                               th:text="${#dates.format(mask.updateAt ,'yyyy-MM-dd HH:mm:ss')}"
                                               >
                                        </div>
                                         <input type="hidden" name="updateAt" th:value="${#dates.format(mask.updateAt ,'yyyy-MM-dd HH:mm:ss')}"/>
                                        <input type="hidden" id="updateBy" name="updateBy" th:value="${mask.updateBy}">
                                        
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div class="cm-btn">
                <div class="cm-btn-a">
                    <a href="javascript:void(0)" class="easyui-linkbutton submit authority-insert"
                       iconCls="icon-save" onclick="doSave()">保存</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../static/jquery.min.js" th:src="@{/jquery.min.js}"></script>
<script src="../../static/jquery.easyui.min.js" th:src="@{/jquery.easyui.min.js}"></script>
<script src="../../static/easyui-lang-zh_CN.js" th:src="@{/easyui-lang-zh_CN.js}"></script>
<script src="../../static/js/common/base.js" th:src="@{/js/common/base.js}"></script>
<script src="../../static/js/mask/mask_detail.js" th:src="@{/js/mask/mask_detail.js}"></script>
</body>
</html>